body{
    font-family: Varta, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    border-bottom: 5px solid #0966c2;
    display: flex;
    justify-content: space-between; 
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    /* animation  */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

nav:target{
    transform: translateY(0);
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    border: 2px solid gold;
    width: 100%;
}

nav li:first-child{
    margin-right: auto;
    font-size: 6rem;
    padding: 0.5rem 1rem 0 1rem;
    color: #0966c2;
}

nav a{
    color: #0966c2;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}

nav span::before{
    content: "\a";
    white-space: pre;
}

nav a:hover{
    color: white;
    background-color: #0966c2;
}

nav a:hover i{
    color: #f3ba64;
}

/* Responsive */
.hamburger, .close{
    font-size: 2rem;
    color: #00bff3;
}

.close:hover{
    background-color: transparent;
}

@media (min-width:750px){
    header{
        margin: 1rem auto;
    }
    
}